<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for object in objects %}
        <ul>
            <li>{{object.name}}</li>
            <li>{{object.adres}}</li>
            <li>{{object.responsible}}</li>
            <img src="{{object.foto.url}}" width="75px"><br>
            <a href="{% url 'pdf' %}">Завантажити</a>
        </ul>
    {% endfor %}
</body>
</html>